body{
    margin: 0 auto;
    /*background-color: #edeff0;*/
    background-color: white;
}

body h2{

    padding-left: 1em;
}

body section#welcome img{

    width:12em;
}

body li{
    list-style: none;
    text-align: center;
}

/* FOOTER */
body footer{
    /*background-color: #d8cdc2;*/
    background-color: #D5D5D5;
    padding: 0.2em;
}
