body{
    margin: 0 auto;
    /*background-color: #edeff0;*/
    background-color: white;
}

body section#welcome h2{

    font-size: 2em;
    text-align: center;
    margin-left: 2em;
    margin-top: 6em;
}

body section#welcome img{

    width:12em;
    align-self: center;
}


/* FOOTER */
body footer{
    /*background-color: #d8cdc2;*/
    background-color: #D5D5D5;
    padding: 0.2em;
}
