body div#content{
    margin-top: 10em;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:"AppointmentPic AppointmentInfo";
}

/* CARD INFO AREA*/
body div#content img{
    grid-area: AppointmentPic;
}
body div#content div#AppointmentInfo{
    grid-area: AppointmentInfo;
}