body{
    margin: 0 auto;
    background-color: white;
}


body section#content img{
    margin: 2em;
    width: 12em;
}


/* FOOTER */
body footer{
    
    background-color: #D5D5D5;
    padding: 0.2em;
}
