body div#content{
    margin-top: 12em;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-areas:"image data";
}

body div#content img{
    grid-area: image;
    justify-content: center;
}

body div#content div#displayed{

    grid-area: data;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}





