body{
    margin: 0 auto;
    background-color: white;
}
body div#content img{
    margin: 2em;
    width: 12em;
}

body div#content section#cardInfo {
    display: grid;
    align-items: center;
    text-align: center;
    margin: 2em 0;
    border-right: 2px solid black;
}
body div#content section#cardInfo ul{
    list-style: none;
}
body div#content section#cardInfo:last-child {
    border-right: none;
}

/* FOOTER */
body footer{
    background-color: #D5D5D5;
    padding: 0.2em;
    bottom: 0;
    position: fixed;
    width: 100%;
}
