body{
    margin: 0 auto;
    background-color: white;
}
body div#content img{
    margin: 2em;
    width: 12em;
}

body div#content section#cardInfo1 {
    display: flex;
    flex-direction: row;
 }
body div#content section#cardInfo1 ul{
    flex: 1;
    list-style: none;
    padding:0.5em;
}

body div#content section#cardInfo1 h2{
    padding: 0.5em;
}


/* FOOTER */
body footer{
    background-color: #D5D5D5;
    padding: 0.2em;
    width: 100%;
}
