body div#content{
    margin-top: 10em;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas:"CardPic Card1Info";
}

/* CARD INFO AREA*/
body div#content img{
    grid-area: CardPic;
}
body div#content>section#cardInfo1{
    grid-area: Card1Info;
}
