
/* CLIENTS AREA*/

body div#content{

    margin-top: 10em;
}
body div#Client{
    grid-area: Client;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "ClientPic ClientSearch ClientResults";
    justify-content: center;
}

body div#Client img{

    margin :20% 5%;
    grid-area: ClientPic;
}

body div#Client section#ClientsInfo{
    display: block;
    margin : 1em;
    grid-area: ClientSearch;
}
