body{
    margin: 0 auto;
    background-color: white; 
}

body div#content img{
    
    width: 12em;
}
body div#content section#ClientsInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body div#content section#ClientsInfo h2 {
   padding: 0.25em 0;
}
body div#content section#ClientsInfo form label{
    display: block;
}
body div#content section#SearchResults {
    margin: 3em 0;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body div#content section#SearchResults li {
    list-style: none;
}


/* FOOTER */
body footer{
    background-color: #D5D5D5;
    padding: 0.2em;
}