body{
    margin: 0 auto;
    /*background-color: #edeff0; */
    background-color: white;
}

body #content{
    margin-top: 10em;

}
body div#content img{

    width: 12em;
}
body div#content section#ClientsInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body div#content section#ClientsInfo h2 {
   padding: 0.25em 0;
}
body div#content div#Client table {
    border-collapse: collapse;
}
body div#content div#Client table th{
    border: 1px solid black;
}
body div#content div#Client table td{
    padding: 0.5em;;
    border: 1px solid black;
} 
body div#content section#ClientsInfo form label{
    display: block;
}
body div#content section#ClientsInfo section#Employeebutton{
    margin: 3em 0;
}
body div#content section#ClientsInfo section#Employeebutton a{
    text-decoration: none;
    color: black;
}


body div#content section#SearchResults {
    margin: 3em 0;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body div#content section#SearchResults form label input{
    display: block;
    margin: 1em;
}
body div#content section#SearchResults button{
    margin: 1em 2em;
}

body div#content section#average {
    margin: 3em 0;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body li{
    list-style: none;
}
/* FOOTER */
body footer{
    /*background-color: #d8cdc2;*/
    background-color: #D5D5D5;
    padding: 0.2em;
}