html{
    font-family: 'Times New Roman', Times, serif;
}

body header{
    /*background-color: #d8cdc2;*/
    background-color: white;
}


body header a{
    font-size: 1.8em;
    padding: 1em;
    text-decoration: none;
    color: black;
}

/* LOGO */
body header section#logo h1{
    vertical-align: middle;
    display: inline-block;
}

body header section#logo img{
    vertical-align: middle;
    width: 3.5em;
}

/*LOGOUT*/

body > header div#logout{
    display: flex;
    flex-direction: row-reverse;
}
body >header div#logout p{
    padding: 1em;
}
body >header div#logout a{
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
}

/* NAV*/
body header nav a{

    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
}

body header nav a#Branchs{
    /*background-color: #2C338A;*/
    background-color: #96858F;
}
body header nav a#Clients{
    /*background-color: #A4AC9A;*/
    background-color: #6D7993;
}
body header nav a#Employees{
    /*background-color: #877D7F;*/
    background-color: #9099A2;
}

body header nav a#Offers{
    /*background-color: #2C338A;*/
    background-color: #D5D5D5;
}
body header nav a#Ratings{
    /*background-color: #A4AC9A;*/
    background-color: #96858F;
}

/*HOVER*/

body header nav a#Branchs:hover{
    background-color: lightgray;
    border: 2px solid #96858F;
}

body header nav a#Clients:hover{
    background-color: lightgray;
    border: 2px solid #6D7993;
}

body header nav a#Employees:hover{
    background-color:lightgray;
    border: 2px solid #9099A2;
}


body header nav a#Offers:hover{
    background-color: lightgray;
    border: 2px solid #D5D5D5;
}


body header nav a#Ratings:hover{
    background-color: lightgray;
    border: 2px solid #96858F;
}

