html{
    font-family: 'Times New Roman', Times, serif;
}

body header{
    background-color: #d8cdc2;
}


body header a{
    font-size: 1.8em;
    padding: 1em;
    text-decoration: none;
    color: black;
}

/* LOGO */
body header section#logo h1{
    vertical-align: middle;
    display: inline-block;
}

body header section#logo img{
    vertical-align: middle;
    width: 3.5em;
}

body > header div#username{
    display: flex;
    flex-direction: row-reverse;
}

body >header div#username p{
    padding: 1em;
}
body >header div#username a{
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
}


/* NAV*/
body header nav a{

    text-align: center;
    padding: 0.5em;
    border-radius: 10px;
}

body header nav a#SeeAccount{
    background-color: #96858F;
}
body header nav a#SendMoney{
    background-color: #6D7993;
}
body header nav a#Schedule{
    background-color: #9099A2;
}
body header nav a#Payment{
    background-color: #D5D5D5;
}

body header nav a#Payment:hover{
     background-color: lightgray;
     border: 2px solid #D5D5D5;
}

body header nav a#Schedule:hover{
    background-color:lightgray;
    border: 2px solid #9099A2;
}

body header nav a#SendMoney:hover{
    background-color: lightgray;
    border: 2px solid #6D7993;
}

body header nav a#SeeAccount:hover{
    background-color: lightgray;
    border: 2px solid #D5D5D5;
}
