body header {

    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: grid;
    grid-template-rows: 0.25fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas:"Title Logout"
                        "Nav Nav";    
}

body header section#logo{
    grid-area: Title;
} 

body header div#logout{
    grid-area: Logout;
}

body header nav#operations{
    grid-area: Nav;
    display: flex;
    flex-direction: row;
}

body header nav#operations a{
    display: block;
    flex: 1;
}