
body div#content{

    margin-top: 10em;
}
body div#Rating{
    grid-area: Rating;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "RatingPic RatingSearch RatingMedium";
    justify-content: center;
}

body div#Rating img{

    margin :20% 5%;
    grid-area: RatingPic;
}

body div#Rating section#orderby{
    display: block;
    margin : 1em;
    grid-area: RatingSearch;
}

body div#Rating section#average{
    margin: 1em;
    grid-area: RatingMedium;
}


body div#Rating section#average h2{
    text-align: center;
}

body div#Rating section#average p{
    text-align: center;
}