body div#content{
    margin-top: 10em;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:"SendPic SendInfo";
}

/* CARD INFO AREA*/
body div#content img{
    grid-area: SendPic;
}
body div#content section#SendInfo{
    grid-area: SendInfo;
}