body{
    margin: 0 auto;
    background-color: #edeff0;   
}
body section#content img{
    margin: 2em;
    width: 12em;
}
body section#content section#SendInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body section#content section#SendInfo h2 {
   padding: 0.25em 0;
}
body section#content section#SendInfo form label{
    display: block;
}

/* FOOTER */
body footer{
    background-color: #d8cdc2;
    padding: 0.2em;
}