body section#content{
    margin-top: 10em;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:"AppointmentPic AppointmentInfo";
}

/* CARD INFO AREA*/
body section#content img{
    grid-area: AppointmentPic;
}
body section#content section#AppointmentInfo{
    grid-area: AppointmentInfo;
}