body header {
    
    display: grid;
    grid-template-rows: 0.25fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas:"Title Username"
                        "Nav Nav";
}

body header section#logo{
    grid-area: Title;
} 
body header section#username{
    grid-area: Username;
}

body header nav#operations{
    grid-area: Nav;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas:"AccountLink MoneyLink AppointmentLink PaymentLink";
}

body header nav#operations a#SeeAccount{
    grid-area: AccountLink;
}


