html{
    font-family: 'Times New Roman', Times, serif;
}

body header a{
    text-decoration: none;
    color: black;
}

/* LOGO */
body header section#logo h1{
    vertical-align: middle;
    display: inline-block;
}

body header section#logo img{
    vertical-align: middle;
    width: 3.5em;
}

/* USERNAME*/
body header section#username{
    display: inline-block;
    text-align: right;
    padding: 1em 0em;
}
body header section#username a{
    border: 1px solid #8c2d19;
} 


/* NAV*/
body header nav a{
    text-align: center;
    padding-top: 0.5em;
}

body header nav a#SeeAccount{
    background-color: #2C334B;
}
body header nav a#SendMoney{
    background-color: #A4AC9A;
}
body header nav a#Schedule{
    background-color: #877D7F;
}
body header nav a#Payment{
    background-color: #7B93B1;
}